<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Main</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>

        <ion-row>          
              <ion-col *ngFor="let item of data" col-6 class="pd15 t-center" (click)="configuracion(item)">
                  <div class="imgMain" [ngStyle]="{'background-image': 'url(' + item.img + ')'}"></div>                  
                  <span>Nnombre: {{item.nombre}}</span>
                  <br>
                  <span>Cantidad: {{item.cantidad}}</span>
                  <ion-icon name="alert" *ngIf="item.cantidad <= 5" class="color-red"></ion-icon>
                </ion-col>         
        </ion-row>
        

      </ion-grid>
</ion-content>
