<ion-header>
  <ion-navbar>
    <ion-title>
      Test App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Login
  <p>    
      <ion-list>     
          <ion-item class="t-center ftam">
              <ion-icon name="glasses"></ion-icon>              
          </ion-item>   
          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" value="" [(ngModel)]="frm.user"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="frm.pass"></ion-input>
          </ion-item>    
          
          <ion-item>
            <button ion-button class="w-100" (click)="sesion()">Iniciar</button>
          </ion-item>
        </ion-list>  
        
        <ion-item class="t-center">
            <small (click)="goToRegistro()" class="c-blue">Crear nueva cuenta</small>
        </ion-item>
        
        
  </p>
</ion-content>
