<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>  
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="frm.username"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>email</ion-label>
          <ion-input type="email" [(ngModel)]="frm.email"></ion-input>
        </ion-item>   
    
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="frm.pass1"></ion-input>
      </ion-item>   

      <ion-item>
          <ion-label floating>Confirmar Password</ion-label>
          <ion-input type="password" [(ngModel)]="frm.pass2"></ion-input>
      </ion-item>    

      <ion-item>
          <button ion-button class="w-100" (click)="crear()">Aceptar</button>
      </ion-item>
    </ion-list>
</ion-content>
