<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>configuracion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <div class="imgMain" [ngStyle]="{'background-image': 'url(' + data.img + ')'}"></div>                  
      
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="data.nombre"></ion-input>
      </ion-item>   

      <ion-item>
          <ion-label floating>Cantidad</ion-label>
          <ion-input type="number" [(ngModel)]="data.cantidad"></ion-input>
        </ion-item>   

        <ion-item>
            <button ion-button class="w-100" (click)="guardar()">Guardar</button>            
        </ion-item>

        <ion-item>
          <button ion-button color="danger" class="w-100" (click)="borrar()">Borrar</button>
      </ion-item>
        
  </ion-list>
</ion-content>
